services:
  iptv-manager:
    image: ghcr.io/bladestar2105/iptv-manager:latest
    container_name: iptv-manager
    restart: unless-stopped
    ports:
      - "0.0.0.0:3000:3000"
    volumes:
      - ./data:/data
    environment:
      - DATA_DIR=/data
      - NODE_ENV=production
